* {
  border:0 none;
  outline:none;
}

body {
  background:#C3FF68;
	margin: 0;
}

#tm #logo{
  float:left;
  margin:5px 0 5px 1%;
}

/***** begin - container *****/
#tm #container{
  border-radius:6px 6px 6px 6px;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 6px 6px;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 6px 6px;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 6px 6px;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  background-color:#fff;
  float:left;
  width:72%;
  clear:left;
  margin:0 0 0 1%;
  padding-top:6px;
}

#tm #brands_tags{
  clear:both;
  float:left;
  margin:10px 5px 10px 10px;
}

/***** end - container *****/

/***** begin - right_painel *****/
#tm #right_painel{
  border-radius:6px 6px 6px 6px;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 6px 6px;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 6px 6px;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 6px 6px;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  background-color:#fff;
  display:block;
  float:right;
  width:25%;
  margin:0 1% 0 0;
  padding-top:6px;
}

#tm .title{
  box-shadow: inset 0 5px 10px #ff5745;
  -o-box-shadow: inset 0 5px 10px #ff5745;
  -webkit-box-shadow: inset 0 5px 10px #ff5745;
  -moz-box-shadow: inset 0 5px 10px #ff5745;
  background-color:#ea594a;
  margin:5px 0 0 0px;
  padding:4px;
  width:auto;
  clear:both;
  float:left;
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}

#tm .stat_number{
  box-shadow: 0 1px 5px #FFB515, inset 0 5px 10px #FFB515;
  -o-box-shadow: 0 1px 5px #FFB515, inset 0 5px 10px #FFB515;
  -webkit-box-shadow: 0 1px 5px #FFB515, inset 0 5px 10px #FFB515;
  -moz-box-shadow: 0 1px 5px #fff, inset 0 5px 10px #fff;
  background-color:#fff;
  margin:10px 0px 5px 10px;
  padding:5px 10px 5px 10px;
  float:left;
  clear:both;
}

#tm .stat_desc{
  box-shadow: 0 1px 5px #FFB515, inset 0 5px 10px #FFB515;
  -o-box-shadow: 0 1px 5px #FFB515, inset 0 5px 10px #FFB515;
  -webkit-box-shadow: 0 1px 5px #FFB515, inset 0 5px 10px #FFB515;
  -moz-box-shadow: 0 1px 5px 0 #FFB515, inset 0 5px 10px 0 #FFB515;
  background-color:#FFB515;
  margin:10px 0px 5px 0px;
  padding:5px 10px 5px 10px;
  float:left;
}

/** begin - slider_messages **/

#tm #last_messages{
  height: 400px;
  float:left;
  margin-top:10px;
  display: inline;
}

#tm .tweet{
  border-bottom:1px solid #EDEDED;
  color:#424242;
  font-family:Arial;
  font-size:12px;
  padding:10px 0 2px 5px;
  display:inline-block;
  width:auto;
}

#tm .tweet a{
  color:#3366CC !important;
  text-decoration:none;
}

/** end - slider_messages **/

#tm .tweet a:hover{
text-decoration:underline;
}

.rounded_img {
  border:10px 10px 10px 10px;
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
  border:1px solid #000000;
  display:inline-block;
  overflow:hidden;
  float:left;
  margin:0 2px 2px 2px;
  padding:2px;
}

/***** end - right_painel *****/

/***** begin - home_chart *****/
#tm #home_chart{
  height:200px;
  width:72%;
  position:relative;
  margin:2% 0 0 5px;
  float:left;
}
#tm #negatives{
  border-radius:6px 6px 0 0;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 0 0;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 0 0;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 0 0;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  float:left;
  width:49%;
  margin:2% 0 0 51%;
  padding-top:6px;
  bottom:0;
  overflow:auto;
  position:absolute;
  background-color:#e73f2d;
}

#tm #positives{
  border-radius:6px 6px 0 0;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 0 0;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 0 0;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 0 0;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  float:left;
  width:49%;
  margin:2% 0 0 1%;
  padding-top:6px;
  bottom:0;
  overflow:auto;
  position:absolute;
  background-color:#669933;
}

#tm .chart_title{
  background-color:#fff;
  margin:5px 0 0 0;
  padding:4px;
  width:40px;
  float:left;
  position:absolute;
  z-index:100;
}

#tm .opinions_tags a{
  float:left;
  color:#fff;
  margin:10px 5px 10px 10px;
  text-decoration:none;
}

#tm .opinions_tags a:hover{
  float:left;
  background-color:#ff5745;
  color:#FFFFFF;
  margin:10px 5px 10px 10px;
  text-decoration:none;
}
/***** end - home_chart *****/

/***** begin - tag_cloud *****/

#tm .tag_cloud LI { display: inline; font-weight:bold;}
#tm .tag_cloud .not-popular { font-size: 1em; }
#tm .tag_cloud .not-very-popular { font-size: 1.2em; }
#tm .tag_cloud .somewhat-popular { font-size: 1.4em; }
#tm .tag_cloud .popular { font-size: 1.6em; }
#tm .tag_cloud .very-popular { font-size: 1.8em; }
#tm .tag_cloud .ultra-popular { font-size: 2.2em; }

/***** end - tag_cloud *****/

/***** begin - brand_validation *****/

#tm #brands_list{float:left;clear:both;}

/***** end - brand_validation *****/

#list{
  display:block;
}

#list .item{
    float:left;
    padding:10px;
    width:900px;
    display:inline;
}

.item #title{
    float:left;
    display:inline;
    font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size:2em;

}

.item #text{
    float:left;
    display:inline;
    font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size:1.1em;
}

.item #commands{
    display:inline;
    float:right;
}

table.thinkmeter_stats{
  float:inline-block;
  border:none;
  font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  font-size:23px;
  cursor:default;
  padding:10px;
  float:left;
  clear:both;
}
table.thinkmeter_stats td{
  border:none;
  padding-right:15px;
}

table.thinkmeter_stats tbody tr:hover{
  background:none;
}
.stats_count {
  text-decoration:none;
  font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  font-size:14px;
  color:#1A74B0 !important;
}

.stats_count a:hover{
  text-decoration:underline;
}

#content{
  text-decoration:none;
  font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  font-size:14px;
}

/***** begin tabs *****/
ul.tabs {
	margin: 25px 1px 0 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
	margin-right:1px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ff5745;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	background: #fff;
  width: 100%;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
/***** end tabs *****/

#actual_path {
  float:left;
  font-family:Impact,Impact5,Charcoal6,sans-serif;
  font-size:30px;
  font-weight:bold;
  margin:40px 0 0 50px;
}

#actual_path a{color:#ff5745;text-decoration:none;}
#actual_path a:hover{background-color:#ff5745;color:#FFFFFF;}

#footer {
  bottom:0;
  float:left;
  font-size:12px;
  margin:10px 0 5px 30%;
  position:relative;
  color:#323231;
}

#footer a{color:#323231;text-decoration:none;}


#opinion_chart {
  box-shadow:2px 2px 2px 2px #ff5745;
  border-radius:6px 6px 6px 6px;
  -webkit-box-shadow:2px 2px 2px 2px #ff5745;
  -webkit-border-radius:6px 6px 6px 6px;
  -o-box-shadow:2px 2px 2px 2px #ff5745;
  -o-border-radius:6px 6px 6px 6px;
  -moz-box-shadow:2px 2px 2px 2px #ff5745;
  -moz-border-radius:6px 6px 6px 6px;
  width:460px;
  clear:both;
  text-align:center;
  background-color:#ff5745;
  margin:20px 0 25px 10px;
  padding:15px 12px;
  float:left;
}

#stat_painel {
  border-radius:6px 6px 6px 6px;
  -webkit-border-radius:6px 6px 6px 6px;
  -o-border-radius:6px 6px 6px 6px;
  -moz-border-radius:6px 6px 6px 6px;
  width:300px;
  height:300px;
  text-align:center;
  background-color:#ffffff;
  margin:20px 0 25px 10px;
  padding:15px 12px;
  float:left;
}

