* {
  border:0 none;
  outline:none;
}

body {
  background:#C3FF68;
	margin: 0;
}

#tm #logo{
  float:left;
  margin:5px 0 5px 1%;
}

/***** begin - container *****/
#tm #container{
  border-radius:6px 6px 6px 6px;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 6px 6px;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 6px 6px;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 6px 6px;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  background-color:#fff;
  float:left;
  width:72%;
  clear:left;
  margin:0 0 0 1%;
  padding-top:6px;
}

#tm #brands_tags{
  clear:both;
  float:left;
  margin:10px 5px 10px 10px;
}

/***** end - container *****/

/***** begin - right_painel *****/
#tm #right_painel{
  border-radius:6px 6px 6px 6px;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 6px 6px;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 6px 6px;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 6px 6px;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  background-color:#fff;
  display:block;
  float:right;
  width:25%;
  margin:0 1% 0 0;
  padding-top:6px;
}

#tm .title{
  box-shadow: inset 0 5px 10px #ff5745;
  -o-box-shadow: inset 0 5px 10px #ff5745;
  -webkit-box-shadow: inset 0 5px 10px #ff5745;
  -moz-box-shadow: inset 0 5px 10px #ff5745;
  background-color:#ea594a;
  margin:5px 0 0 0px;
  padding:4px;
  width:auto;
  clear:both;
  float:left;
}

#tm .stat_number{
  box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  -o-box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  -webkit-box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  -moz-box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  background-color:#FFB515;
  margin:10px 2px 5px 10px;
  padding:4px;
  width:80px;
  float:left;
  clear:both;
}

#tm .stat_desc{
  box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  -o-box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  -webkit-box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  -moz-box-shadow: 0 1px 5px #FC9200, inset 0 5px 10px #ffb54c;
  background-color:#FFB515;
  margin:10px 2px 5px 10px;
  padding:4px;
  width:80px;
  float:left;
}

#tm #last_messages{
  height: 400px;
  float:left;
  margin-top:10px;
  display: inline;
}

#tm .tweet{
  border-bottom:1px solid #EDEDED;
  color:#424242;
  font-family:Arial;
  font-size:12px;
  padding:10px 0 0px 5px;
  display:inline-block;
  width:auto;
}

.rounded-img2 {
border-radius:10px 10px 10px 10px;
box-shadow:0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.898), 0 -1px 0 rgba(0, 0, 0, 0.6);
-o-border-radius:10px 10px 10px 10px;
-o-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.898), 0 -1px 0 rgba(0, 0, 0, 0.6);
-webkit-border-radius:10px 10px 10px 10px;
-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.898), 0 -1px 0 rgba(0, 0, 0, 0.6);
-moz-border-radius:10px 10px 10px 10px;
-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.898), 0 -1px 0 rgba(0, 0, 0, 0.6);
display:inline-block;
float:left;
margin-right:2px;
}

/***** end - right_painel *****/

/***** begin - home_chart *****/
#tm #home_chart{
  height:200px;
  width:72%;
  position:relative;
  margin:2% 0 0 5px;
  float:left;
}
#tm #negatives{
  border-radius:6px 6px 0 0;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 0 0;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 0 0;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 0 0;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  float:left;
  width:49%;
  margin:2% 0 0 51%;
  padding-top:6px;
  bottom:0;
  overflow:auto;
  position:absolute;
  background-color:#e73f2d; 
}

#tm #positives{
  border-radius:6px 6px 0 0;
  box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -o-border-radius:6px 6px 0 0;
  -o-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-border-radius:6px 6px 0 0;
  -webkit-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  -moz-border-radius:6px 6px 0 0;
  -moz-box-shadow:0 1px 2px rgba(51, 51, 51, 0.3);
  float:left;
  width:49%;
  margin:2% 0 0 1%;
  padding-top:6px;
  bottom:0;
  overflow:auto;
  position:absolute;
  background-color:#669933; 
}

#tm .chart_title{
  background-color:#fff;
  margin:5px 0 0 0;
  padding:4px;
  width:40px;
  float:left;
  position:absolute;
  z-index:100;
}

#tm .opinions_tags{
  float:left;
  clear:both;
  color:#fff;
  margin:10px 5px 10px 10px;
}
/***** end - home_chart *****/

/***** begin - tag_cloud *****/

#tm .tag_cloud LI { display: inline; font-weight:bold;}
#tm .tag_cloud .not-popular { font-size: 1em; }
#tm .tag_cloud .not-very-popular { font-size: 1.2em; }
#tm .tag_cloud .somewhat-popular { font-size: 1.4em; }
#tm .tag_cloud .popular { font-size: 1.6em; }
#tm .tag_cloud .very-popular { font-size: 1.8em; }
#tm .tag_cloud .ultra-popular { font-size: 2.2em; }
    
/***** end - tag_cloud *****/
