<div id="actual_path">
  /<%=link_to "home", root_path%>
  /<%=link_to "help", "/home/help"%>
</div>
<div id="container">
  <div class="title">How it works ?</div>
  <div class="content">
    <p>Most of people express your opinions about something or somebody.</p>
    <p>This opinion may be viewed and retweet by all followers of this person.</p>
    <p>It is difficult to know if only you are alone complaining about it, you will have to dig and search for some opinion. That's where the Thinkmeter comes to help!</p>
    <p>You continue to tweet as you always have done  before. But you will put a hash tag, telling to ThinkMeter to consider this Tweet. You will tweet something like this:</p>
    <p style="margin-left:20px"> 
      <b>#IThink</b> Apple fantastic. I really like the IPAD.
      <br>
      <b>#IThink</b> Android #rocks. Depending on the telephone, is better than IPhone.
    </p>
    <p>
      If possible, we prefer that you use the following syntax:
    </p>
    <p>
      <b>#IThink</b> <i>[name-of-what-you-are-evaluating]</i> <i>[what-you-think-about-it]</I>. Complement with  your opinion.</i>
    </p>
      We are improving this syntax to put more options.
    <p>
      <b>
        Don't let your opinion alone, put it together at ThinkMeter. 
      </b>
    </p>
  </div>
  <div class="clearfix"></div>
</div>

