<div id="container" style="height:450px;">
  <div class="title">How it works ? </div>

<div class="content">
<BR><BR><BR>
Most of people express your opinions about something or somebody.<BR>
This opinion may be viewed and retweet by all followers of this person.<BR><BR>

<BR>It is difficult to know if only you are alone complaining about it, you will have to dig and search for some opinion. That's where the Thinkmeter comes to help!

<BR><BR>You continue to tweet as you always have done  before. But you will put a hash tag, telling to ThinkMeter to consider this Tweet. You will tweet something like this:

<BR><BR>

<B>#IThink</B> Apple fantastic. I really like the IPAD.
<BR><B>#IThink</B> Android #rocks. Depending on the telephone, is better than IPhone.

<BR><BR>
If possible, we prefer that you use the following syntax:
<BR>
<B>#IThink</B> <I>[name-of-what-you-are-evaluating]</I> <I>[what-you-think-about-it]</I>. Complement with  your opinion.
<BR><BR>
We are improving this syntax to put more options.

</div>

</div>

