<div id="container" style="height:300px;">
  <div class="title">BRANDS</div>
  <div id="brands_tags">
    <%(1..150).each do |i|%>
      #iThink
    <%end%>
  </div>
</div>
<div id="right_painel" style="height:500px;">
  <div class="title">STATS</div>
  <div class="stat_number">5 millions</div>
  <div class="stat_desc">tweets</div>
</div>
